<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <h3>Artists in <%= @genre.name %></h3>

    <ul>
      <% @genre.artists.each do |artist| %>
        <li><%= artist.name %></li>
      <% end %>
    </ul>

    <%= link_to 'Edit', edit_genre_path(@genre), class: 'btn btn-default' %>
    <%= link_to 'Back', genres_path, class: 'btn btn-default' %>
  </div>
</div>

